<template>
    <div id="root" class="container">
        <h1>Find A Motercycle Dealership</h1>
        <p>Please enter a postcode or address to find your closest dealership</p>

        <form @submit.prevent="findDealers">
            <div class="row">
                <div class="col-12 col-md-6">
                    <label>
                        Your Location
                        <input type="text" v-model="locationInput" placeholder="e.g M1 2BB">
                        <div v-if="locationError" class="location-error">Please Enter A Location</div>
                    </label>
                </div>
                <div class="col-12 col-md-3">
                    <input type="submit" value="Search"/>
                </div>
            </div>
        </form>
        <div class="row" v-if="step > 1">
            <div class="col-12 col-md-6">
                <div class="dealer" v-for="dealer in dealers" v-on:click="dealerSelected">
                    <h3>{{dealer.title}}</h3>
                    <p v-html="dealer.address"></p>
                    <h5>{{dealer.distance}}miles</h5>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button v-bind:disabled="step < 3">Continue To Next Step</button>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'Main',
        components: {},
        data() {
            return {
                step: 1,
                locationError: false,
                locationInput: '',
                dealers: [
                    {
                        title: '1 Title',
                        distance: '10',
                        address: '12 Alpha Bravo,<br/>Town,<br/>AA11 B12'
                    },
                    {
                        title: '2 Title',
                        distance: '19',
                        address: '12 Alpha Bravo,<br/>Town,<br/>AA11 B12'
                    },
                    {
                        title: '3 Title',
                        distance: '50',
                        address: '12 Alpha Bravo,<br/>Town,<br/>AA11 B12'
                    },
                    {
                        title: '4 Title',
                        distance: '18',
                        address: '12 Alpha Bravo,<br/>Town,<br/>AA11 B12'
                    },
                ],
            };
        },
        methods: {
            dynamicSort(property) {
                var sortOrder = 1;
                if (property[0] === "-") {
                    sortOrder = -1;
                    property = property.substr(1);
                }
                return function (a, b) {
                    var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                    return result * sortOrder;
                }
            },
            findDealers() {
                if (this.locationInput == '') {
                    this.locationError = true;
                } else {
                    this.locationError = false;
                    // Get Location
                    this.dealers.sort(this.dynamicSort("distance"));
                    // Order Dealers

                    this.step = 2;
                }
            },
            dealerSelected() {
                console.log('Target Dealer On Map');
                this.step = 3;
            }
        }
    };
</script>


