@import "~bootstrap/scss/bootstrap.scss";

body{
    padding: 25px 0;
}
.map{
    height: 100%;
    min-height: 200px;
    background-color: gainsboro;
    @include media-breakpoint-up(md){
        min-height: 600px;
    }
}

.dealer{
    border: solid 1px #c6c6c6;
    padding: 15px;
    cursor: pointer;
    h3{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }
    h5{
        font-size: 10px;
        color: #b4b4b4;
    }
    &:hover{
        border-color: black;
    }
}

form{
    label{
        width: 100%;
        font-size: 10px;
        input{
            width: 100%;
            display: block;
            font-size: 14px;
        }
    }
}

button{
    width: 100%;
    background: #a20000;
    padding: 10px;
    text-align: center;
    color: white;
    border: none;
    margin-top: 15px;
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}